._contact_me_navbar {
    border-bottom: 1px solid $white-x;
    padding: 0;

    ._navbar_container {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        
        ._back {
            text-align: center;
            flex-grow: 1;
            padding: 10px;

            a {
                color: $sunset2;
                font-size: 2.4em;
                transition: 0.1s;

                &:hover {
                    color: $sunset3;
                }
            }
        }

        ._avatar {
            text-align: center;
            position: relative;
            top: 50px;
            flex-grow: 4;

            img {
                height: 80px;
            }
        }

        ._logo {
            text-align: center;
            padding: 10px;
            flex-grow: 1;

            img {
                height: 45px;
            }
        }
    }
}