    // $sunset1:#1112ff;
    $sunset1:#6411ff;

    // $sunset2:#001de8;
    $sunset2:#6f27f5;

    // $sunset3:#158aff;
    $sunset3:#1112ff;

    $sunset4:#00a5e8;
    $sunset5: #141c3a; 

    $white: #ffffff;
    $white-x: #eeeeee;
    $white-xx: #d3d3d3;

    $black: #000000;
    $black-x: #3a3a3a;
    $black-xx: #868686;




